<div class="home-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="/images/logo.webp" height="75" alt="CW Logo" loading="lazy" />
                </a>
                <!-- Section: Social media -->

                <!-- Section: Social media -->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Facebook -->
            <a class="btn btn-outline-light  btn-sm btn-floating m-1"
                href="https://www.facebook.com/Crooked-Waters-Log-Works-102440069102786/" role="button" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- Header Image -->
    <div class="bg-image d-flex top-bottom-image  justify-content-center align-items-center text-white"
        style="background-image: url('images/aboutUs.webp'); ">
        <h1 class="text-uppercase">About Us</h1>
    </div>
    <!--- Header Image -->

    <div class="service-wrapper">
        <div class="row mb-2">
            <div class="col-md-5">
                <img src="/images/about.webp" class="img-fluid shadow-1-strong rounded" alt="Log Bunk Bed">
            </div>
            <div class="col-md-7">
                <h3>About Crooked Waters Log Works</h3>
                <hr>
                <div id="about-us-wrapper">
                    <p>It was always our dream to build a Log Home so back in 1999, that dream became a reality. We
                        moved from Saskatoon to raise our family enjoying lake life at Wakaw Lake. </p>
                    <p>Our passion grew into handcrafting Log Accents & Furniture. Let us design your handcrafted log
                        bed for generations to come.</p>
                </div>
                <div id="signature-wrapper" class="d-flex flex-column align-items-start mt-5">
                    <p id="about-us-signature">Trent Osmak</p>
                    <p id="about-us-signature">Owner & Operator</p>
                    <p id="about-us-signature">Crooked Waters Log Works</p>
                </div>
            </div>
        </div>
    </div>



    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Text -->
            <section class="mb-1">
                <p class="footer-contact-header">
                    Contact Crooked Waters
                </p>
            </section>
            <section class="mb-4">
                <p class="footer-contact">
                    Phone: <a href="tel:13062337201">(306) 233 7201</a>
                    <br>
                    Email: <a href="mailto:cwlogworks@gmail.com" target="_blank">cwlogworks@gmail.com</a>
                </p>
            </section>
            <!-- Section: Text -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.cwlogworks.ca/">Crooked Waters Log Works. All Rights Reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>