<div class="home-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                    <img src="/images/logo.webp" height="75" alt="CW Logo" loading="lazy" />
                </a>
                <!-- Section: Social media -->

                <!-- Section: Social media -->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Facebook -->
            <a class="btn btn-outline-light  btn-sm btn-floating m-1"
                href="https://www.facebook.com/Crooked-Waters-Log-Works-102440069102786/" role="button" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div class="home-image d-flex justify-content-center align-items-center" style="background-image: url('images/dock.webp');
            height: 100vh; background-size: cover;">
        <div class="d-flex flex-column">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-center mb-3">
                    <img src="/images/logo.webp" class="header-logo" alt="CW Logo">
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <br>
                <h2 style="color: white" class="mb-2 mx-1 text-center">Saskatoon & Surrounding Area</h2>
                <h2 style="color: white" class="mb-2 mx-1 text-center">Custom Log Bed Frames & Woodworking</h2>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn-lg btn-light mx-2" onClick="location.href = 'services'"><span
                            class="text-uppercase">Learn
                            More</span></button>
                    <button type="button" class="btn-lg btn-light mx-2" onClick="location.href = 'contact'"><span
                            class="text-uppercase">Get a
                            Quote</span></button>
                </div>
            </div>
        </div>

    </div>
    {{!-- Testimonial Section --}}
    <div class="testimonial-section p-3">
        <div class="card">
            <div class="card-body">
            </div>
            <div class="text-center">
                <h2>"I have seen Trent's craftsmanship first hand and when it came time to furnish my new cabin, I knew
                    I
                    wanted him to handcraft my log beds for generations to come."</h2>
            </div>
            <div class="d-flex justify-content-end">
                <h3 class="p-4">- Wade M.</h3>
            </div>
        </div>

    </div>
    <!-- Contact Us Section -->
    <div class="bg-image d-flex top-bottom-image justify-content-center align-items-center text-white"
        style="background-image: url('images/kingBed.webp'); ">
        <div class="d-flex flex-column">
            <h2 style="color: white" class="mb-2 text-center">Let's Work Together</h2>
            <h3 style="color: white; text-shadow: 2px 2px black;" class="mb-2 text-center">Contact Crooked Waters</h3>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn-lg btn-light" onClick="location.href = 'contact'"><span
                        class="text-uppercase">Get in
                        Touch</span></button>
            </div>
        </div>
    </div>
    <!-- Contact Us Section -->

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Text -->
            <section class="mb-1">
                <p class="footer-contact-header">
                    Contact Crooked Waters
                </p>
            </section>
            <section class="mb-4">
                <p class="footer-contact">
                    Phone: <a href="tel:13062337201">(306) 233 7201</a>
                    <br>
                    Email: <a href="mailto:cwlogworks@gmail.com" target="_blank">cwlogworks@gmail.com</a>
                </p>
            </section>
            <!-- Section: Text -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.cwlogworks.ca/">Crooked Waters Log Works. All Rights Reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

<script>
    console.log("Home Page");
</script>