<div class="home-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="/images/logo.webp" height="75" alt="CW Logo" loading="lazy" />
                </a>
                <!-- Section: Social media -->

                <!-- Section: Social media -->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Facebook -->
            <a class="btn btn-outline-light  btn-sm btn-floating m-1"
                href="https://www.facebook.com/Crooked-Waters-Log-Works-102440069102786/" role="button" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <!-- Header Image -->
    <div class="bg-image top-bottom-image d-flex justify-content-center align-items-center text-white"
        style="background-image: url('images/Services.webp'); ">
        <div class="d-flex align-items-center">
            <h1 class="text-uppercase">Our Services</h1>
        </div>
    </div>
    <!--- Header Image -->

    <!-- Our Services Section -->
    <div class="service-wrapper">
        <div class="row mb-2">
            <div class="col-md-6">
                <h3>Log Bed Frames</h3>
                <hr>
                <div class="services-content">
                    <p>Handcrafted log bed frames made from Saskatchewan Pine. Headboards on all bed sizes are 52” high,
                        while
                        the footboards are 36” high. Beds include
                        mattress
                        support slats and log side rails.</p>
                    <p>Queen and King beds include center
                        rail supports. Regular beds are built to <b>hold box spring</b>
                        and <b> mattress</b>.</p>
                    <p><b>Sizes Available: </b>Twin, Double, Queen, King</p>
                    <p><b>Approximate Dimensions (Inches):</b></p>
                    <p><b>Twin: </b>43 (W) x 87 (L) x 52 (H)</p>
                    <p><b>Double:</b> 58 (W) x 87 (L) x 52 (H)</p>
                    <p><b>Queen:</b> 68 (W) x 92 (L) x 52 (H)</p>
                    <p><b>King:</b> 80 (W) x 92 (L) x 52 (H)</p>
                </div>

            </div>
            <div class="col-md-6">
                <img src="/images/kingBedStage.webp" class="img-fluid shadow-1-strong rounded"
                    alt="Log Bed Frame Queen">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <img src="/images/bunkStaged.webp" class="img-fluid shadow-1-strong rounded" alt="Log Bunk Bed">
            </div>
            <div class="col-md-6">
                <h3>Log Bunk Bed Frames</h3>
                <hr>
                <div class="services-content">
                    <p>Handcrafted log bunk bed frames made from Saskatchewan Pine. Beds include
                        mattress
                        support slats and log side rails.</p>
                    <p>Queen beds include center
                        rail supports. Bunk beds are built to hold <b>mattress only</b>.</p>
                    <p><b>Sizes Available: </b>Twin, Double, Queen</p>
                    <p><b>Approximate Dimensions (Inches):</b></p>
                    <p><b>Twin: </b>43 (W) x 87 (L) x 72 (H)</p>
                    <p><b>Double:</b> 58 (W) x 87 (L) x 72 (H)</p>
                    <p><b>Queen:</b> 68 (W) x 92 (L) x 72 (H)</p>

                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Disclaimer</h3>
                <hr>
                <div class="services-content">
                    <p>All beds are delivered and set up at the Customer’s destination.</p>
                    <p>Beds come finished with a 2 coats of Minwax clear stain.
                    </p>
                    <p>All log furniture is subject to checking (log splitting), and may vary in color, grain
                        pattern, character, insect tracks, and texture. No two pieces of our handcrafted wood in our log
                        beds will look the same.</p>
                    <p> Each piece of wood may absorb the stain and/or finish differently. If you
                        are looking for a specific color of stain not offered, please contact us.</p>
                </div>



            </div>
            <div class="col-md-6">
                <img src="/images/queenBed.webp" class="img-fluid shadow-1-strong rounded"
                    alt="Log Bunk Bed Unfinished">
            </div>
        </div>
    </div>



    <!-- Our Services Section -->

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Text -->
            <section class="mb-1">
                <p class="footer-contact-header">
                    Contact Crooked Waters
                </p>
            </section>
            <section class="mb-4">
                <p class="footer-contact">
                    Phone: <a href="tel:13062337201">(306) 233 7201</a>
                    <br>
                    Email: cwlogworks@gmail.com
                </p>
            </section>
            <!-- Section: Text -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.cwlogworks.ca/">Crooked Waters Log Works. All Rights Reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

<script>
    console.log("Services Page");
</script>