<div class="home-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <img src="/images/logo.webp" height="75" alt="CW Logo" loading="lazy" />
                </a>
                <!-- Section: Social media -->

                <!-- Section: Social media -->
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Facebook -->
            <a class="btn btn-outline-light  btn-sm btn-floating m-1"
                href="https://www.facebook.com/Crooked-Waters-Log-Works-102440069102786/" role="button" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <!-- Header Image -->
    <div class="bg-image top-bottom-image d-flex justify-content-center align-items-center text-white"
        style="background-image: url('images/Services.webp'); ">
        <div class="d-flex align-items-center">
            <h1 class="text-uppercase">Our Services</h1>
        </div>
    </div>
    <!--- Header Image -->

    <!-- Our Services Section -->
    <div class="service-wrapper">
        <div class="row mb-2">
            <div class="col-md-8">
                <h3>Log Bedframes</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
            </div>
            <div class="col-md-4">
                <img src="/images/queenBed.webp" class="img-fluid" alt="Log Bed Frame Queen">
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-4">
                <img src="/images/bunkBed.webp" class="img-fluid" alt="Log Bunk Bed">
            </div>
            <div class="col-md-8">
                <h3>Log Bunk Bedframes</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3>Disclaimer</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non mi sed odio fringilla laoreet
                    vitae quis tortor. Nam a porttitor felis. Phasellus scelerisque dictum nisi, ut maximus turpis
                    rutrum non. Etiam tempus interdum porttitor. Pellentesque viverra consectetur quam, non eleifend leo
                    porta vestibulum. Mauris scelerisque maximus dictum. Sed in condimentum sapien. Fusce cursus eu
                    magna ac elementum.</p>
            </div>
            <div class="col-md-4">
                <img src="/images/frameUnfinishedOne.webp" class="img-fluid" alt="Log Bunk Bed Unfinished">
            </div>
        </div>
    </div>



    <!-- Our Services Section -->

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Text -->
            <section class="mb-1">
                <p class="footer-contact-header">
                    Contact Crooked Waters
                </p>
            </section>
            <section class="mb-4">
                <p class="footer-contact">
                    Phone: <a href="tel:13062337201">(306) 233 7201</a>
                    <br>
                    Email: cwlogworks@gmail.com
                </p>
            </section>
            <!-- Section: Text -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.cwlogworks.ca/">Crooked Waters Log Works. All Rights Reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>

<script>
    console.log("Services Page");
</script>