
/* 
* --feldgrau: #4b6858ff;
* --navajo-white: #ffe0b5ff;
* --liver-chestnut: #8a6552ff;
* --pewter-blue: #91adc2ff;
* --raisin-black: #161925ff;
*/

/* GENERIC */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 6vw;
	text-shadow: 1px 1px black;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 3vw;
	text-shadow: 1px 1px black;
}
h3 {
	font-family: 'Roboto', sans-serif;
}

hr {
	border: 7px solid;
	border-radius: 5px;
	width: 120px;
}

.top-bottom-image {
	height: 33vh;
}

.service-wrapper {
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.footer-contact-header {
	font-family: 'Plus Jakarta Sans', sans-serif;
}

.header-logo {
	max-width: 24em;
	height: auto;
}

/* HOME  */
.home-panel {
	left: 0;
    right: 0;
	position: absolute;
	background-color: #f8f8ff;
	min-height: 100vh;
}

/* SERVICES */

/* ABOUT */

/* CONTACT */

/* HEADER */

/* FOOTER */

@media (max-width: 426px) {
	.top-bottom-image {
	  height: 20vh;
	}
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 24px;
	}
	.header-logo {
		max-width: 18em;
		height: auto;
	}
  }



